@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes splash {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.animate-splash {
  animation: splash 1.5s ease-in-out infinite;
  display: inline-block; /* necessary for transform to apply nicely */
}

@theme inline {
  --font-sans: var(--font-mojangles);
  --font-mono: var(--font-mojangles);
}

body {
  background-image: url("../public/dirt_bg.png");
}